# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Archivos temporales
tmp/
temp/
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# UV
.python-version

faq.db*
*.db
*.db-shm
*.db-wal